@{
    ViewData["Title"] = "Home Page";
}

<section class="background bckfirst">
    <div class="box-main">
        <div class="firsthalf">
            <p class="txt_big">Sustainable Agricultural Platform for Farmers in rural</p>

        </div>
        <div class="secondhalf">
            <img src="OIP.jpeg" alt="agricultural">
        </div>

    </div>
</section>